<?xml version="1.0"?>
<config>
  <modules>
    <Vivacity_FacebookLike>
      <version>1.0.3</version>
    </Vivacity_FacebookLike>
  </modules>
  <global>
    <helpers>
      <facebooklike>
        <class>Vivacity_FacebookLike_Helper</class>
      </facebooklike>
    </helpers>
  </global>
  
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <facebooklike_options>
                                            <title>Store FacebookLike Section</title>
                                        </facebooklike_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
  
   <frontend>
               <routers>    
                        <facebooklike> 
                                <use>standard</use>
                                <args>
                                        <module>Vivacity_FacebookLike</module>
                                        <frontName>facebooklike</frontName>
                                </args>
                        </facebooklike> 
                </routers>
        <layout>
            <updates>
                <facebooklike>
                    <file>facebooklike.xml</file>
                </facebooklike>
            </updates>
        </layout>
    </frontend>
</config> 
